<!-- Generated template for the TodoListComponent component -->
<ion-list>
    <ion-item-sliding *ngFor='let list of items'>
        <button ion-item (click)="pushPage(list)" >
            <font size="5px">{{ list.name }}</font><font color="gray">- Completed : {{ isCompleteCount(list.items)}} / {{ list.items.length }}</font>
        </button>
        <ion-item-options side='left'><button ion-button (click)='deleteList(list.uuid)' color="danger"><ion-icon name="close"></ion-icon>Delete</button>
        <button ion-button (click)='editList(list)' color="secondary">
            <ion-icon name="pricetag"></ion-icon>
            Edit
        </button>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>

<ion-buttons end>
    <button ion-button color="secondary" (click)='addList()'>
        <ion-icon name="add"> {{ 'add-button-caption' | translate }}</ion-icon>
    </button>
</ion-buttons>
