<!-- Generated template for the TodoListComponent component -->
<ion-list cache-view="false">
    <ion-item-sliding *ngFor='let list of items'>
        <button ion-item (click)="pushPage(list)" >
            <font size="5px">{{ list.name }}</font><font color="gray"> - {{ 'completed-label' | translate }} : {{ isCompleteCount(list.items)}} / {{ itemCount(list.items) }}</font>
        </button>
        <ion-item-options side='left'>
            <button ion-button (click)='deleteList(list.uuid)' color="danger">
            <ion-icon name="close"></ion-icon>
            {{ 'delete-button-caption' | translate }}
        </button>
        <button ion-button (click)='editList(list)' color="secondary">
            <ion-icon name="pricetag"></ion-icon>
            {{ 'edit-button-caption' | translate }}
        </button>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>

<ion-buttons end>
    <button ion-button color="secondary" (click)='addList()'>
        <ion-icon name="add"> {{ 'add-button-caption' | translate }}</ion-icon>
    </button>
</ion-buttons>
