<ion-header>
  <ion-navbar>
      <ion-title>Liste</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: url(assets/imgs/bglogin.jpg) center; background-size: cover;">
  <ion-card>
      <ion-card-header>
          <ion-label>
              <ion-icon name="list-box" item-start>
              {{ 'adding-element-modal-title' | translate }}
              </ion-icon>
          </ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
            <ion-label floating>{{ 'task-name-label-caption' | translate }}</ion-label>
            <ion-input highlight-color="balanced" type="text" [(ngModel)]="taskname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{ 'task-desc-label-caption' | translate }}</ion-label>
          <ion-input highlight-color="balanced" type="text" [(ngModel)]="taskdesc"></ion-input>
        </ion-item>
        <img [src]="taskimg" *ngIf="taskimg != ''" />
        <button ion-button color="light" (click)='addImg()'>
          <ion-icon name="ios-camera">
            {{ 'add-picture' | translate }}
          </ion-icon>
        </button>
        <ion-label *ngIf="geo != null" floating>Longitude : {{ geo.longitude }}, latitude : {{ geo.latitude }}</ion-label>
        <button ion-button (click)='addGeo()'>
          <ion-icon name="compass">
            {{ 'add-geo' | translate }}
          </ion-icon>
        </button>
        <button ion-button  *ngIf="taskimg != ''" color="danger" (click)='rmImg()'>
            <ion-icon name="close">{{ 'remove-button-caption' | translate }}</ion-icon>
        </button>
        <ion-buttons end>
          <button ion-button color="light" (click)='returnPrecPage()'>
              <ion-icon name="return-left">
              {{ 'return-label' | translate }}
              </ion-icon>
          </button>
          <button ion-button (click)="addTask()" icon-start>
            <ion-icon name="add-circle"></ion-icon>
            {{ 'add-button-caption' | translate }}
          </button>
        </ion-buttons>
      </ion-card-content>
  </ion-card>
</ion-content>
